#app{
    width: 100%;
    display: flex;
    justify-content: center;
}

.appContainer {
    /* background-color: blueviolet; */
    height: 70%;
    width: 70%;
    margin: auto;
    display: flex;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .appContainer {
        width: 90%;
        height: 70%;
        flex-direction: column;
    }
  }

/* Small screens */
@media all and (max-width: 500px) {
    .appContainer {
        height: 90%;
    }
  }