.controls {
    width: 40%;
    height: 25%;
    /* margin-right: 35%; */
    display: flex;
    position: relative;
}

@media all and (min-width: 668px) {
    .controls {
        margin: 80px 255px 0 0;
        width: 350px;
    }
}