@font-face {
    font-family: DS-Digital;
    src: url('../../public/fonts/dsDigital/DS-DIGI.TTF') format("truetype");
  }

.digit {

    font-family: DS-Digital;
    width: 100%;
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    background-color: rgba(0,0,0,0);
    position: relative;
}

.digitWrapper {
    width: 50%;
    display: flex;
    font-size: 15vw;
    transform: scale(1, 1.5);
}

@media all and (min-width: 832px) {
    .digit {
        font-size: 170px;
    }
}
