@font-face {
    font-family: DS-Digital;
    src: url('../../public/fonts/dsDigital/DS-DIGI.TTF') format("truetype");
  }

.digit {
    /* height: 100%; */
    font-family: DS-Digital;
    width: 50%;
    
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -33.33%;
    display: flex;
    background-color: rgba(0,0,0,0);
    position: relative;
}

@media all and (min-width: 668px) {
    .digit {
        font-size: 170px;
        transform: scale(1, 1.5);
    }
}
