.timer {
    height: 35%;
    width: 75%;
    margin: 40% 0 0 0;
    display: flex;
    position: relative;
    align-items: center;
}
@media all and (min-width: 832px) {
    .timer {
        height: 250px;
        width: 535px;
        margin: 90px 15px 0 0;
    }
}