.timer {
    height: 35%;
    width: 75%;
    /* margin-left: 15%;  */
    /* margin-top: 12%; */
    display: flex;
    /* text-align: center; */
    position: relative;
    align-items: center;
}
@media all and (min-width: 671px) {
    .timer {
        height: 250px;
        width: 535px;
        margin: 90px 15px 0 0;
    }
}