.twoDigits {
    width: 45%;
    height: 100%;
    display: flex;
    overflow: hidden;
    /* background-color: black; */
}

/* Medium screens */
@media all and (max-width: 800px) {
    .twoDigits {
        height: 45%;
        width: 100%;
        flex-direction: row;
    }
  }